{% extends 'base.html.twig' %}
{% block title %} 
Recette - Accueil
{% endblock %}


{% block body %}
    <div class="container mt-4">
        <div class="jumbotron" >
            <h1 class="display-4" > Bienvenue sur Recette </h1>
            <p class="lead" > Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem temporibus, facilis ea illo exercitationem sint nobis culpa maiores voluptatum ipsum deserunt blanditiis, nulla assumenda ipsa reprehenderit hic nam dolor praesentium. </p>
            <hr class="my-4" >
            <a class="btn btn-primary btn-lgz" href="#" role="button" > Inscription </a>
    </div>

 <h1> Recette </h1>   
{% endblock %}